@import "config-bs";
@import "_adicionar-cores.scss";
@import "_reescrever-variaveis.scss";
// //Chamadas padrão
@import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "remover-cores";
// @import "../../node_modules/bootstrap/scss/reboot";
// //Componentes
// @import "../../node_modules/bootstrap/scss/_buttons.scss";
// @import "../../node_modules/bootstrap/scss/_button-group.scss";
// // //Grid
// @import "../../node_modules/bootstrap/scss/mixins/breakpoints";
// @import "../../node_modules/bootstrap/scss/mixins/grid-framework";
// @import "../../node_modules/bootstrap/scss/mixins/grid";
// @import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/utilities/display";
// @import "../../node_modules/bootstrap/scss/utilities/flex";
// @import "../../node_modules/bootstrap/scss/utilities/_spacing.scss";
// //Type
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/_navbar.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
.alpha {
    color: $purple;
}

.beta {
    color: color('custom-color');
}

@each $color,
$value in $colors {
    .amostra-#{$color} {
        color: color-yiq($value);
        background-color: #{$value};
    }
}

@each $color,
$value in $theme-colors {
    .amostra-#{$color} {
        color: color-yiq($value);
        background-color: #{$value};
    }
}

@each $color,
$value in $grays {
    .amostra-#{$color} {
        color: color-yiq($value);
        background-color: #{$value};
    }
}

// Generate alert modifier classes
@each $color,
$value in $theme-colors {
    .alerta-#{$color} {
        @include alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 6));
    }
}

// Generate `.bg-*` color utilities
@each $color,
$value in $theme-colors {
    @include bg-variant('.bg-#{$color}', $value);
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .text#{$infix}-left {
            text-align: left;
        }
        .text#{$infix}-right {
            text-align: right;
        }
        .text#{$infix}-center {
            text-align: center;
        }
    }
}