//MEDIA QUERIES 
//XS 
//Sem Media Query, pois este é o padrão no Bootstrap
//SM 
@media (min-width: 34em) {}

//MD 
@media (min-width: 48em) {}

//LG 
@media (min-width: 62em) {}

//XL 
@media (min-width: 75em) {}

//DESKTOP FIRST 
//XL 
@media (max-width: 74.9em) {}

//LG 
@media (max-width: 61.9em) {}

//MD 
@media (max-width: 47.9em) {}

//SM 
@media (max-width: 33.9em) {}

//XS 
//Sem Media Query, pois este é o padrão no Bootstrap
.example-container {
    width: 800px;
    @include make-container();
}

.example-row {
    @include make-row();
}

.example-content-main {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
        @include make-col(8);
    }
}

.example-content-secondary {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
        @include make-col(4);
    }
}