//Variáveis locais
@import '_auto_import.scss';
// html {
//     font-size: 1rem;
// }
// @include media-breakpoint-up(sm) {
//     html {
//         font-size: 1rem;
//     }
// }
// @include media-breakpoint-up(md) {
//     html {
//         font-size: 1.1rem;
//     }
// }
// @include media-breakpoint-up(lg) {
//     html {
//         font-size: 1.2rem;
//     }
// }
.cabecalho,
.navegacao-principal,
.rodape-global {
    background-color: #ccc;
}

.navegacao-principal {
    .nav-item {
        padding-top: 10px;
        padding-bottom: 10px;
        .nav-link {
            font-size: 1rem;
        }
    }
    @supports (position: sticky) {
        position: sticky;
        top: 4rem;
        height: calc(100vh - 4rem);
        overflow-y: auto;
    }
    order: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
}

// .conteudo-principal {
//     position: relative;
//     padding: 1rem;
//     margin: 1rem (-$grid-gutter-width / 2) 0;
//     @include clearfix();
//     @include media-breakpoint-up(sm) {
//         padding: 1.5rem;
//         margin-right: 0;
//         margin-left: 0;
//     }
//     +.highlight,
//     +.clipboard+.highlight {
//         margin-top: 0;
//     }
//     +p {
//         margin-top: 2rem;
//     }
//     .pos-f-t {
//         position: relative;
//         margin: -1rem;
//         @include media-breakpoint-up(sm) {
//             margin: -1.5rem;
//         }
//     }
// }
.intra-content {
    order: 1; // Hack the sticky header
    >h2[id],
    >h3[id],
    >h4[id] {
        pointer-events: none;
        >div,
        >a {
            pointer-events: auto;
        }
        &::before {
            display: block;
            height: 6rem;
            margin-top: -6rem;
            visibility: hidden;
            content: "";
        }
    }
    >table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        @include media-breakpoint-down(md) {
            display: block;
            overflow-x: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
            &.table-bordered {
                border: 0;
            }
        } // Cells
        >thead,
        >tbody,
        >tfoot {
            >tr {
                >th,
                >td {
                    padding: $table-cell-padding;
                    vertical-align: top;
                    border: 1px solid $table-border-color;
                    >p:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        } // Prevent breaking of code (e.g., Grunt tasks list)
        td:first-child>code {
            white-space: nowrap;
        }
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
}