doctype html
html(lang='pt-br')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    // TemplateBeginEditable name="doctitle"
    title Intranet - Página padrão
    // TemplateEndEditable
    link(rel='stylesheet', href='../src/css/intranet.css')
    script(defer='', src='../src/plugins/fontawesome/svg-with-js/js/fontawesome-all.js')
    // TemplateBeginEditable name="cssAdcional"
    // TemplateEndEditable
    // TemplateParam name="colunaLateral" type="boolean" value="false"
    // TemplateParam name="breadcrumb" type="boolean" value="true"
  body.pagina-interna
    header.cabecalho.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bd-navbar.fixed-top
      // #BeginLibraryItem "/Library/topo.lbi"
      .container
        .logo
          a.navbar-brand.text-primary.text-uppercase.font-weight-bold(href='#')
            img(src='http://www.tre-mt.jus.br/temas/imagens/logo-tse.png', width='135', height='61', alt='')
            |  Intranet
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navegacaoSuperior', aria-controls='navegacaoSuperior', aria-expanded='false', aria-label='Toggle navigation', value='Menu')
            span.navbar-toggler-icon
        #navegacaoSuperior.collapse.navbar-collapse.d-md-flex.justify-content-end
          .row
            .col-12
              nav.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex.justify-content-end
                ul.list-inline
                  li.list-inline-item Acessibilidade
                  li.list-inline-item
                    a(href='#')
                      i.fas.fa-adjust
                      |  Contraste
                  li.list-inline-item
                    a(href='#')
                      i.fas.fa-american-sign-language-interpreting
                      |  Libras
                  li.list-inline-item
                    a(href='#')
                      i.fas.fa-assistive-listening-systems
                      |  Voz
            .col-12
              form.form-inline.my-2.my-lg-0.justify-content-end
                input.form-control.mr-sm-2(type='search', placeholder='O que você procura?', aria-label='Search')
                button.btn.btn-primary.my-2.my-sm-0(type='submit') Buscar
      // #EndLibraryItem
    .container-fluid
      .row.flex-xl-nowrap
        // #BeginLibraryItem "/Library/menu-principal-lateral.lbi"
        .navegacao-principal
          ul.nav.flex-column
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-users
                |  Pessoal
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-sitemap
                |  Unidades
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-laptop
                |  Sistemas e suporte
            li.nav-item
              a.nav-link(href='#')
                i.far.fa-id-card
                |  Eleições
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-gavel
                |  Legislação
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-money-bill-alt
                |  Orçamento
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-briefcase
                |  Licitações e contratos
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-users
                |  Pessoal
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-sitemap
                |  Unidades
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-laptop
                |  Sistemas e suporte
            li.nav-item
              a.nav-link(href='#')
                i.far.fa-id-card
                |  Eleições
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-gavel
                |  Legislação
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-money-bill-alt
                |  Orçamento
            li.nav-item
              a.nav-link(href='#')
                i.fas.fa-briefcase
                |  Licitações e contratos
        // #EndLibraryItem
        main.conteudo.col-12.col-md-9.col-xl-8.d-flex.p-0
          // TemplateBeginIf cond="breadcrumb"
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item
                a(href='#') Library
              li.breadcrumb-item.active(aria-current='page') Data
          // TemplateEndIf
          // TemplateBeginEditable name="principal"
          p Conteúdo aqui!
          // TemplateEndEditable
          footer.rodape-global.align-self-end
            #mapa-site
              h3 Mapa do site
            nav.navbar.navbar-light
              address.text-center
                p
                  | Setor de Administração Federal Sul (SAFS), Quadra 7, Lotes 1/2, Brasília/DF – 70070-600 - Tel.: (61) 3030-7000
                p
                  | Protocolo Administrativo: sala V-101, fax: (61) 3030-9850 - regras de enviolink externo
                p Protocolo Judiciário: sala V-504, fax: (61) 3030-9951
                p Horário de funcionamento dos protocolos: das 11h às 19h
        // TemplateBeginIf cond="colunaLateral"
        aside#side.side-bar.d-none.d-xl-block.col-xl-2.bd-toc
          // TemplateBeginEditable name="lateral"
          // TemplateEndEditable
        // TemplateEndIf
    script(src='../src/plugins/jquery/dist/jquery.min.js')
    script(src='../src/js/principal.js')
    // TemplateBeginEditable name="scriptAdcional"
    // TemplateEndEditable
